{% extends "base.html" %}{% block title  %}Home{% endblock %}

{% block content %}

<header>
    <h1 style="background-color: rgb(115, 168, 84);">TCC Student - Homepage  Gulnaz Aman </h1>
    <p style="background-color: rgb(12, 12, 51);"></p>
</header>
<body>

<h2>Welcome to Tidewater Community College</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGSwl33gqGFnvjOlFjY26X-AKAUJj0RynG2g&usqp=CAU" width="373" height="136">

<article>
<h1>Virginia Beach Campus</h1>
<p>
    The Virginia Beach Campus is the college’s largest, with 13 buildings, including the Advanced Technology Center, which is shared with Virginia Beach Public School students, the Joint-Use Library, a collaboration with the City of Virginia Beach, and our Regional Health Professions Center. The Science Building, which contains a planetarium, is centrally located at Princess Anne Road across from Landstown High School.
</p>

</article>

<iframe width="853" height="480" src="https://www.youtube.com/embed/BjDNwOXRMNo" frameborder="0" allowfullscreen ng-show="showvideo"></iframe>

</body>
{% endblock %}